<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="assets/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#">
                    <i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">PRODUTO</li>
            <li>
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Relatório</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-archive"></i>
                    <span>Material promocional</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-question"></i>
                    <span>Ajuda</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#" class="bg-light-blue-active">
                    <i class="fa fa-lock"></i>
                    <span>Administração</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="http://">Ajuda</a></li>
                    <li><a href="http://">Parceiros</a></li>
                    <li><a href="http://">Material promocional</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>